* {
    /** 全局取消选择 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    padding: 0;
    margin: 0;
}

.m-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #aaa;
}

.m-modal .modal_wrap {
    position: absolute; /* 使拖动元素离开文档流，让重排只影响当前元素 */
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;

}

.m-modal .modal_head {
    background-color: #3498db;
    line-height: 1.5;
    padding: 6px 20px;
    color: #fff;
    border-bottom: 1px solid #258cd1;
}

.m-modal .modal_body {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 20px;
}

.m-modal .modal_foot {
    border-top: 1px solid #eee;
}

.m-modal .modal_foot::after {
    display: block;
    content: "";
    line-height: 0;
    clear: both;
}

.m-modal .modal_foot a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    background-color: #fff;
    padding: 8px;
    cursor: pointer;
    color: #3498db;
    text-align: center;
    text-decoration: none;

}

.m-modal .modal_foot a:hover {
    background-color: #71b7e6;
    color: #fff;
}

.m-modal .modal_foot a:active {
    background-color: #3498db;
    color: #fff;
}

.m-modal .modal_foot a:first-child {
    border-right: 1px solid #eee;
}

.m-modal .modal_foot .cancel {
    color: #999;
}

.m-modal .modal_foot .cancel:hover {
    background-color: #aaa;
}

label {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.form-group {
    margin: 10px auto;

}

.form-control {
    width: 70%;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    letter-spacing: 2px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .075), 0 0 8px #F9F8FE;
}