@charset "utf-8";

body{
	margin: 0;
	padding:0;
	background-color: #eee;
	background-image: linear-gradient(rgba(0, 128, 88,0.5),rgba(0, 119, 255,0.6)); 
}

 .wrapper{
 	width: 300px;
 	margin:100px auto;
 	 perspective:500px;	  		
 		height: 300px;	  		
 		perspective-origin:center center;  
 	
 }
 
  	 @keyframes scroll{
  		100%{transform: rotate3d(1,1,1,360deg
  			);}
  	}

.litteH{
	position: relative;
	perspective:500px;	  		
	 		height: 300px;	  		
	 		perspective-origin:center center;
  		width: 300px;
  		height: 300px;
  		 animation: scroll 2s linear 1s infinite;
  		transform-style: preserve-3d;  
} 
 .bodyH{
 	position: absolute;
 	width: 240px;
 	height: 400px;
 	border:5px solid rgba(241, 200, 12, 0.5);
 	border-radius: 115px;
 	background: rgba(249,217,70,1);
 	overflow: hidden; 
 	z-index: 2;
 	/* animation: scroll 2s linear 1s infinite;
 	  		transform-style: preserve-3d; */
 } 
.bodyH .condoleBelt{
	position: absolute;
}
.bodyH .condoleBelt .left,
.bodyH .condoleBelt .right{
	width: 100px;
	height: 16px;
	border:5px solid #000;
	background: rgb(32,116,160);
	position: absolute;
	top:-90px;
	left:-35px;
	z-index: 2;
	transform:rotate(0deg);
}
.bodyH .condoleBelt .left{
	top:-88px;
	left:165px;
	transform:rotate(-45deg);
}
.bodyH .condoleBelt .right{
	top:-88px;
	left:-35px;
	transform:rotate(45deg);
}
.bodyH .condoleBelt .left:after,
.bodyH .condoleBelt .right:after{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: red;
	position: absolute;
	top:4px;
	left:88px;
}

.bodyH .condoleBelt .left:after{
	left:5px;
}
.bodyH .trousers{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	 border-top: 6px solid #000;
	background: rgb(32,116,160);
	 
}
.trousers_top{
	width: 160px;
	height: 60px;
	border:6px solid #000;
	border-bottom: none;
	border-radius: 0 0 5px 5px;
	background: rgb(32,116,160);
	position: absolute;
	bottom: 100px;
	 left:34px; 
	 
}
.pocket{
	width: 60px;
	height: 45px;
	border:15px solid rgba(141, 235, 40, 0.54);
	border-radius: 3px 100px 3px 100px;
	position: absolute;
	bottom:65px;
	left:84px;
}
.line_right{
	width: 30px;
	height: 30px;
	border-bottom-left-radius: 100px;
	border-bottom:4px solid #000;
	border-left:4px solid #000;
	position: absolute;
	left: 0;
	bottom:60px;
	transform:rotate(5deg);
}
.line_left{
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 100px;
	border-bottom:4px solid #000;
	border-right:4px solid #000;
	position: absolute;
	right: 0;
	bottom:63px;
	transform:rotate(5deg);
}
 .line_bottom{
	height: 40px;
	border:3px solid #000;
	/* border-radius: 3px; */
	position: absolute;
	left:118px;
	bottom: 0px;
} 
.hair{
	position: relative;

}
@keyframes lefthair{
	/* 0%,25%,50%,100%{
		transform:rotateX(0deg);
	}
	30%{
		transform: rotateX(44deg) translate3d(1px,1px,1px,45deg);
	} */
	 100%{
		transform: rotateY(30deg);
	} 

}
.left_hair_one{
	
    width: 60px;
    height: 70px;
    border-radius: 55%;
    border-top: 8px solid #C318D9;
    position: absolute;
    left: 60px;
    top: -20px;
    transform: rotate(55deg);
    animation: lefthair 2s ease-in-out infinite;

   
}

.left_hair_two{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-top:6px solid #C318D9;
	position: absolute;
	left:45px;
	top:-30px;
	transform:rotate(45deg);
	animation: lefthair 2s ease-in-out infinite;
}
@keyframes righthair{
	
	 100%{
		transform: rotateY(45deg);
	} 
}
.right_hair_three{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border-top:6px solid #C318D9;
	position: absolute;
    right: 105px;
    top: -30px;
    transform: rotate(-55deg);
    animation: righthair 2s ease-in-out infinite;
}

.right_hair_four{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-top:6px solid #C318D9;
	position: absolute;
    right: 125px;
    top: -10px;
    transform: rotate(-55deg);
    animation: righthair 2s ease-in-out infinite;
}

.eyes{
	position: relative;
	
}
.eyes .leftEye,.eyes .rightEye{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	border:6px solid #eee;
	background: #fff;
	position: absolute;
	top:60px;
	left: 27px;
	opacity: 1;
	z-index: 3;
}
.eyes .leftEye{
	left: 124px;
}
.eyes .leftEye .left_blackEye,
.eyes .rightEye .right_blackEye{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #000;
	position: absolute;
	top:24px; 
	left:22px;
	animation: blackeye 5s ease-in infinite;
}
@keyframes blackeye{
	0%,20%,100%{
		transform: translateX(15px);
	}
	50%,70%{
		transform: rotate3d(1,1,1,360deg);
	}
	30%,40%{
		transform: rotate3d(1,1,1,45deg);
	}
	80%,90%{
		transform: translateX(-25px);
	}
}
.eyes .leftEye .left_blackEye .left_white,
.eyes .rightEye .right_blackEye .right_white{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top:7px;
	left:17px;
	animation: whiteeye 5s ease-in-out infinite;
}
@keyframes whiteeye{
	0%,20%,30%,40%,50%,70%,100%{
		transform: translate3d(1px,1px,1px,360deg);
	}

	80%,90%{
	 transform: translate3d(3px,3px,3px,45deg);
	}
}
.eyes .leftEye .left_blackEye .left_white{
	top:4px;
	left:17px;
}
.eyes .leftEye:after,
.eyes .rightEye:after{
	content: '';
	width: 28px;
	height: 18px;
	background: #000;
	position: absolute;
	left:-30px;
	top:37px;
	transform:skewX(20deg) rotate(7deg);
}
.eyes .leftEye:after{
	left:89px;
	top:37px;
	transform:skewX(-20deg) rotate(-7deg);
}
.mouse{
	position: relative;
	
}
.mouse .mouse_shape{
	width: 55px;
	height: 35px;
	border:5px solid red;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	background: #fff;
	position: absolute;
	top:175px;
	left:98px;
	z-index: 3;
	transform:rotate(-35deg);
	animation: mouse 5s ease-in-out infinite;
}
@keyframes mouse{
	40%,70%{
		width: 45px;
	    height: 25px;
	    top:180px;
	}
	0%,35%,48%,100%{
		width: 55px;
	    height: 35px;
	    top:175px;
		transform:rotate(-35deg);
	}
}
.mouse .mouse_shape:after{
	content: '';
	width: 70px;
	height: 32px;
	 border-bottom:5px solid red; 
	border-radius:35px 26px 5px 5px; 
	/* background: rgb(249,217,70); */
	position: absolute;
	top:-16px;
	left:3px;
	transform:rotate(34deg);
	animation: mouse_mask 5s ease-in-out infinite;
}
@keyframes mouse_mask{
	40%,43%{
		width: 60.5px;
		top:-19.3px;
		left:1.5px;
	}
	0%,35%,48%,100%{
		width: 60.5px;
		top:-16px;
		left:3px;
		transform:rotate(30deg);
	}
}
.hands{
	position: relative;
}
.hands .leftHand,
.hands .rightHand{
	width: 130px;
	height: 30px;
	border:5px solid #000;
	border-radius: 25px;
    background: rgb(249,217,70); 
	position: absolute;
	top: 230px;
    left: -83px;
	
	animation:rightHand 3s ease-in-out infinite; 
}
@keyframes rightHand{
	0%,50%,100%{
		transform: rotate(40deg);
	}
	30%{
		transform: rotate3d(1,1,1,3deg) translateY(20px);
			}
}			
.hands .leftHand{
	left:182px;
	top:220px;
	transform:rotate(-40deg);
	animation:leftHand 3s ease-in-out infinite;
}
@keyframes leftHand{
	0%,50%,100%{
		transform: rotate(-40deg);
	}
	80%{
		/* transform: rotate(-37deg) translateX(-1px); */
		transform: rotate3d(1,1,1,3deg) translateY(20px);
	}
}
 .hands .leftHand:after, 
.hands .rightHand:after{
	
    content: '';
    width: 26px;
    height: 26px;
    border: 2px solid #00FF7B;
    border-radius: 50px;
    position: absolute;
    left: 0px;
   /*  top: 25px; */
    background-color: black;
    /* transform: rotate(90deg); */
}


.hands.leftHand:after{
	
    content: '';
    width: 26px;
    height: 26px;
    border: 2px solid #00FF7B;
    border-radius: 50px;
    position: absolute; 
    left: 103px;
    top: 25px; 
     background-color: black;
   transform: rotate(90deg); 
}
.feet{
	position: relative;

}
.feet .left_foot,
.feet .right_foot{
	 width: 36px;
	height: 50px; 
	/* border-bottom-right-radius: 6px;
	border-bottom-left-radius: 9px; */
	background: #000;
	position: absolute;
	 top: 406px;
	left:88px; 
	transform-origin: right top;
	animation: rightfoot .8s ease-in-out infinite;
}
@keyframes rightfoot{
	0%,30%,100%{
		transform: rotate(0deg);
	}
	50%,60%{
		transform: rotate3d(1,1,1,180deg)
	}
	80%{
		transform: rotate(40deg);
	}
}
.feet .left_foot{
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 6px;
	left:130px;
	transform-origin: left top;
	animation: leftfoot .8s ease-in-out infinite;
}
@keyframes leftfoot{
	0%,30%,100%{
		transform: rotate(0deg);
	}
	50%,60%{
		transform: rotate3d(1,1,1,-180deg)
	}
	80%{
		transform: rotate(-40deg);
	}
}
 .feet .left_foot:after,
.feet .right_foot:after{
	content: '';
	width: 60px;
	height: 35px;
	border-radius: 20px 10px 21px 15px; 
	background: #000;
	position: absolute;
	left:-36px;
	top:14.4px;
	transform:rotate(5deg);
}
.feet .left_foot:after{
	border-radius: 10px 20px 15px 21px;
	left:13px;
	transform:rotate(-5deg);
}
.groundShadow{
	width: 300px;
	height: 12px;
	border-radius: 50%;
	background: rgba(0,0,0,0.3);
	box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
	position: relative;
	top: 455px;
	/* left:15px;  */
}
 .envato-animate{
     position:absolute;
     left:58%;
     top: 20%; 
    /*  width:396px;
    height: 200px; */
     text-align:center;
   /*   margin-left:-198px;
   margin-top: -100px; */
   }  
    .envato-animate .envato-balloon{
      width:70px;
      height:100px;
      color:#fff;
      opacity: 0.5;
      font-size:24px;   
      position:relative;
      font-weight:bold;
      text-align:center;
      border-radius:50%;
      background:#e74c3c;
      display:inline-block;
      text-align: center;
      line-height: 100px;
      -webkit-animation-fill-mode:forwards;
              animation-fill-mode:forwards;
      font-family:'Varela Round',sans-serif;
    } 

    .envato-animate .envato-balloon:after{
     /*  width:0;
     height:0;
     left:50%;
     content:'';
     bottom:-8px;
     margin-left:-8px;
     position:absolute;
     border:8px solid transparent;
     border-bottom:8px solid #e74c3c; */

    width: 0px;
    height: 70px;
    left: 65%;
    content: '';
    bottom: -70px;  
    margin-left: -8px;
    position: absolute;
    border: 1px dashed #c318d9;
    }  
    
    @keyframes zhuanquan{
	
	100%{transform: translateY(20px);}
}
 @keyframes zhuanquan1{
	
	100%{transform: scale(-1.5) rotate(-45deg);}
}
 div.envato-animate span:nth-child(1){background-color: blue;opacity: 0.5; animation: zhuanquan 3s ease 0s infinite;  
	position:absolute;top:10%;left: 60%;}
/* div.envato-animate span:nth-child(2){background-color: yellow;opacity: 0.5;animation: zhuanquan1 3s ease 2s infinite; 
	position:absolute;top:30%;left: 20%;}
div.envato-animate span:nth-child(3){background-color: orange;opacity: 0.5;animation: zhuanquan 3s ease 4s infinite;
position:absolute;top:50%;left: 20%; }
div.envato-animate span:nth-child(4){background-color: pink;opacity: 0.5;animation: zhuanquan1 3s ease 6s infinite;
position:absolute;top:10%;right: 20%; }
div.envato-animate span:nth-child(5){background-color: green;opacity: 0.5;animation: zhuanquan 3s ease 8s infinite;
position:absolute;top:30%;right: 20%; } 
 div.envato-animate span:nth-child(6){background-color: purple;opacity: 0.5;animation: zhuanquan1 3s ease 10s infinite;
position:absolute;top:50%;right: 20%; }  
div.envato-animate span:nth-child(7){background-color: purple;opacity: 0.5;animation: zhuanquan 3s ease 12s infinite;
position:absolute;top:80%;right: 50%; } */